anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
attrs
autopep8
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
cryptography
debugpy
decorator
defusedxml
dj-database-url
Django
django-allauth
django-debug-toolbar
django-environ
django-extensions
django-sslserver
django-widget-tweaks
et-xmlfile
executing
fastjsonschema
fqdn
gunicorn
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
mysqlclient
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
oauthlib
openpyxl
packaging
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycodestyle
pycparser
Pygments
PyJWT
pyrsistent
python-dateutil
python-json-logger
python3-openid
pytz
#pywin32
#pywinpty
PyYAML
pyzmq
qtconsole
QtPy
reportlab
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
Send2Trash
six
sniffio
soupsieve
sqlparse
stack-data
terminado
tinycss2
toml
tornado
traitlets
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
whitenoise
widgetsnbextension
