anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
attrs
autopep8
backcall
beautifulsoup4
bleach
build
CacheControl
certifi
cffi
cleo
colorama
comm
crashtest
cryptography 
debugpy 
decorator 
defusedxml 
distlib 
dj-database-url 
Django 
django-allauth 
django-environ 
django-extensions 
django-sslserver 
django-widget-tweaks 
dulwich 
et-xmlfile 
executing 
fastjsonschema  
filelock  
fqdn  
gunicorn  
html5lib  
idna  
importlib-metadata  
installer  
ipykernel  
ipython  
ipython-genutils  
ipywidgets   
isoduration   
jaraco.classes   
jedi   
Jinja2   
jsonpointer   
jsonschema   
jupyter   
jupyter-console   
jupyter-events    
jupyter_client    
jupyter_core    
jupyter_server    
jupyter_server_terminals    
jupyterlab-pygments    
jupyterlab-widgets    
keyring    
lockfile    
MarkupSafe     
matplotlib-inline     
mistune     
more-itertools     
msgpack     
mysqlclient     
nbclassic     
nbclient     
nbconvert     
nbformat      
nest-asyncio      
notebook      
notebook_shim      
numpy
oauthlib
openpyxl
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pkginfo
platformdirs
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycodestyle 
pycparser 
Pygments  
PyJWT  
pyproject_hooks  
pyrsistent  
python-dateutil  
python-json-logger  
python3-openid  
pytz  
pywin32-ctypes  
pywinpty   
PyYAML   
pyzmq   
qtconsole   
QtPy   
rapidfuzz   
requests   
requests-oauthlib   
requests-toolbelt    
rfc3339-validator    
rfc3986-validator    
Send2Trash    
shellingham    
six    
sniffio    
soupsieve     
sqlparse     
stack-data     
terminado     
tinycss2     
toml     
tomlkit     
tornado     
traitlets      
trove-classifiers      
tzdata      
uri-template      
urllib3      
virtualenv      
wcwidth      
webcolors      
webencodings       
websocket-client       
whitenoise       
widgetsnbextension       
xlrd       
zipp       