<div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h5>Regitrar Contratos</h5>
      </div>
      
      <div class="card-block table-border-style">
        {% comment %} <form method="post">
          {% csrf_token %}
          Data Início <input type="date" id="data_inicio" name="data_inicio" required {% if data_inicio %} value={{data_inicio}} {% endif %}>
          Data Fim <input type="date" id="data_fim" name="data_fim" required {% if data_fim %} value={{data_fim}} {% endif %}>
          <button type="submit" name="btn-submit" id="btn-submit" class="btn btn-primary">Filtrar</button>
          <button type="button" name="btn-clear-fields" id="btn-clear-fields" class="btn btn-danger">Limpar</button>
        </form> {% endcomment %}
        <h3>Novo Contrato (Suporta Condominio)</h3>
        <form class="form w-100" unicorn:submit.prevent.defer="novo_contrato">
          <h4>{{data.descricao}}</h4>
          {% if contrato_existe %}
            <h4> {% if comprador_contrato_existe %}
              Comprador do Contrato 
              <span style="color:green;">Registrado</span>
              {% else %}
              Comprador do Contrato
              <span style="color:red;">Não Registrado</span>
              {% endif %}</h4>
              <h4> {% if vendedor_contrato_existe %}
              Vendedor do Contrato
              <span style="color:green;">Registrado</span>
                {% else %}
                Vendedor do Contrato
                <span style="color:red;">Não Registrado</span>
                {% endif %}

              </h4>
          {% endif %}
          <div class="row mt-3">
            <div class="col-md-6 align-center align-baseline">
              {% comment %} <label for="cliente">ID do Cliente/Pessoa</label> {% endcomment %}
              <input unicorn:model.defer="id_contrato" type="number" name="contrato_id" id="contrato_id" class="form-control" placeholder="ID do Contrato">
            </div>
            <div class="col-md-6">
              <button unicorn:click="checar_contrato" type="button" name="checar_contrato_id" id="checar_contrato_id" class="btn btn-primary">Checar</button>
            </div>
          </div>
          <label for="adi">ADI</label>
          <select 
            unicorn:model.defer="adi"
            name="adi" id="adi" 
            class="form-control">
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
          </select>
          {% comment %} <input unicorn:model.defer="adi" type="number" name="adi" step="0.01" class="form-control" placeholder="ADI (não colocar o simbolo)"> {% endcomment %}
          <input unicorn:model.defer="me" type="number" name="me" step="0.01" class="form-control" placeholder="ME">
          <input unicorn:model.defer="op" type="number" name="op" step="0.01" class="form-control" placeholder="OP">
          <input unicorn:model.defer="id_comissionado" type="number" name="comissionado" class="form-control" placeholder="ID do Comissionado">
          
          <div class="form-group">
            <br>
            <label for="selecionar-tipo-taxa">É um condominio ?</label>
            <select unicorn:model="eh_condominio" class="form-control" name="sim-nao" id="sim-nao-condominio">
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>

          {% if eh_condominio == "sim" and contrato_existe %}
          <div class="container">
            <div class="row mt-3">
                <div class="col-md-6">
                  <h4 id="adicionar-vendedor-titulo">Adicionar Vendedor</h4>
                  <h4 id="nome-vendedor">{{pessoa.nome}}</h4>
                    <ul class="list-group">
                        <!-- Itens da lista podem ser adicionados aqui -->
                        <input unicorn:model.defer="id_pessoa" type="number" class="form-control" id="pessoa_id" placeholder="ID Pessoa/Vendedor">
                        <input unicorn:model.defer="peso" step="0.01" type="number" class="form-control" {% if not pessoa_existe %} disabled="true" {% endif %} id="peso_pessoa" placeholder="peso">
                        <div class="row justify-content-around pt-1">
                          <button unicorn:click="adicionar_pessoa" class="btn btn-success" type="button" id="adicionar-vendedor" {% if not pessoa_existe %} disabled="true" {% endif %}>Adicionar</button>
                          <button unicorn:click="checar_pessoa" class="btn btn-primary" href="#" id="checar_pessoa_id" type="button">Checar</button>
                        </div>
                    </ul>
                </div>
                <div class="col-md-6" id="lista-vendedores" unicorn:key="lista-vendedores">
                  {% for pessoa in listas_pessoas %}
                  {% comment %} {'341': {'nome': 'José Raniere Custodio Pontes de Azevedo Filho', 'peso': '61612'}} {% endcomment %}
                    <ul>
                      <li class="list-group-item" 
                      id="lista-pessoa-{{pessoa.id}}"
                      unicorn:key="lista-pessoa-{{pessoa.id}}"
                      > {{pessoa.nome}} - {{pessoa.peso}}
                      <br>  
                        <button type="button" 
                        class="btn btn-danger btn-sm"
                        id="del-vendedor-{{pessoa.id}}"
                        unicorn:key="del-vendedor-{{pessoa.id}}"
                        unicorn:click="remover_pessoa({{ pessoa.id }})"
                        >DEL</button>
                       </li>
                    </ul>
                  {% endfor %}
                </div>
            </div>
        </div>
          {% endif %}
          <div class="container pt-2">
          {% if user.is_superuser or user.acesso.permissao == 'alimentacao' %}
          <button class="btn btn-primary" 
            unicorn:click="novo_contrato" 
            id="nova-taxa" type="submit" 
            name="nova-taxa"
            {% if not contrato_existe %}   
                disabled="true" 
            {% else %}
              {% if eh_condominio == "sim" and listas_pessoas|length < 1 %}
                  disabled="true" 
                {% endif %}
            {% endif %}
            >Novo Contrato</button>
        {% else %}
          <button class="btn btn-primary disabled" unicorn:click="novo_contrato" type="button" name="nova-taxa">Novo Contrato</button>
        {% endif %}
          </div>
        </form>
        <!-- <form action="{% url 'home:upload_planilha_cob' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input required type="file" class="" name="docpicker" id="docpicker" value="Importar Planilha">
          <button type="submit" class="btn btn-success">Enviar Planilha</button>
        </form> -->
        <div class="table-responsive">
          <table id="table-cob" class="table table-hover"></table>
        </div>
      </div>
    </div>
  </div>    