{% load static %}
<div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h5>Repasse Retido</h5>
        <form unicorn:submit.prevent.defer="filtrar_repasses_retidos" name="filtrar_repasses_retidos" id="filtrar_repasses_retidos">
					data inicio: <input required unicorn:model.lazy="data_inicio" type="date" name="data-inicio" id="data-inicio">
					data fim: <input required unicorn:model.lazy="data_fim" type="date" name="data-fim" id="data-fim">
					<button unicorn:click="filtrar_repasses_retidos" name="filtrar-repasses-retidos" class="btn btn-primary btn-sm" type="submit">Filtrar</button>
				</form>
				<h6>{% if mensagem_error_novo_repasse_retido %}
					<ul class="messages">
							{% for message in mensagem_error_novo_repasse_retido %}
									<li>{{ message }}</li>
							{% endfor %}
					</ul>
			{% endif %}</h6>
        <form unicorn:submit.prevent.defer="novo_repasse_retido" class="form w-100" name="novo_repasse_retido" id="novo_repasse_retido">
          <input unicorn:model.lazy="id_pessoa" required type="text" name="cliente" class="form-control" placeholder="ID Cliente">
          <input unicorn:model.lazy="valor" required type="number" step="0.01" name="valor" class="form-control" placeholder="Valor do Repasse Retido">
          <input unicorn:model.lazy="data_repasse_retido" required type="date" name="data-repasse-retido" class="form-control" id="data-taxa" placeholder="Data do Repasse Retido">
          <input unicorn.model.lazy="tipo_repasse_retido" type="text" name="tipo" class="form-control" placeholder="Tipo do Repasse Retido">
          {% if user.is_superuser or user.acesso.permissao == 'alimentacao' %}
            <button unicorn:click="novo_repasse_retido" class="btn btn-primary" type="submit" id="novo-repasse-retido" name="novo-repasse-retido">Novo Repasse Retido</button>
            {% else %}
            <button class="btn btn-primary disabled" type="button" name="novo-repasse-retido">Novo Repasse Retido</button>
          {% endif %}
        </form>
      </div>

      <div class="card-block table-border-style" unicorn:key="table-border-style-table-repasse-retido" id="table-border-style-table-repasse-retido">
        <div class="table-responsive" unicorn:key="table-repasse-retido">
          <table class="table table-hover" id="table-repasse-retido">
            <thead>
              <tr>
                <th>Cliente ID</th>
                <th>Nome</th>
                {% for dia in repasses_retidos_dias %}
                <th>{{dia}}</th>
                {% endfor %}
                <th>Valor Repasse Retido</th>
              </tr>
            </thead>
            <tbody>
              {{tbody|safe}}
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-block table-border-style" unicorn:key="table-border-style-table-repasses-retidos-nao-aprovadas">
        <div class="table-responsive" id="table-responsive-repasses-retidos-nao-aprovadas" unicorn:key="table-repasses-retidos-nao-aprovadas">
          <table class="table table-hover" id="table-repasses-retidos-nao-aprovadas">
            <thead>
              <tr>
                <th>Ações</th>
                <th>Cliente ID</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Valor Repasse Retido</th>
              </tr>
            </thead>
            <tbody id="tbody-repasses-retidos-aprovadas" unicorn:key="tbody-repasses-retidos-aprovadas">
              {% if user.is_superuser %}
                {% for repasse_retido in repasses_retidos_nao_aprovadas %}
                <tr>
                  <td>
										<button 
										unicorn:click="aprovar_repasse_retido({{ repasse_retido.id }})"
										unicorn:key="aprovar-repasse-retido-{{repasse_retido.id}}"
										id="aprovar-repasse-retido-{{repasse_retido.id}}"
										name="aprovar-repasse-retido"
										class="btn btn-success btn-sm">Aprovar Rep.Ret.</button>
										<button 
										unicorn:click="deletar_repasse_retido({{ repasse_retido.id }})"
										unicorn:key="del-repasse-retido-{{repasse_retido.id}}"
										id="del-repasse-retido-{{repasse_retido.id}}"
										name="del-repasse-retido"
										class="btn btn-warning btn-sm">DEL</button>
									</td>
                  <td>{{repasse_retido.cliente.id}}</td>
                  <td>{{repasse_retido.cliente.nome}}</td>
                  <td>{{repasse_retido.dt_rep_retido}}</td>
                  <td>{{repasse_retido.vlr_rep_retido}}</td>
                </tr>
                {% endfor %}
              {% else %}
                {% for repasse_retido in repasses_retidos_nao_aprovadas %}
                <tr>
                  <td><a href="#sem-permissao" class="btn btn-success disabled">Aprovar</a></td>
                  <td>{{repasse_retido.cliente.id}}</td>
                  <td>{{repasse_retido.cliente.nome}}</td>
                  <td>{{repasse_retido.dt_rep_retido}}</td>
                  <td>{{repasse_retido.vlr_rep_retido}}</td>
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>


      <div class="card-block table-border-style" unicorn:key="table-border-style-table-repasses-retidos-aprovadas">
        <div class="table-responsive" id="table-responsive-repasses-retidos-nao-aprovadas" unicorn:key="table-repasses-retidos-aprovadas">
          <table class="table table-hover" id="table-repasses-retidos-aprovadas">
            <thead>
              <tr>
                <th>Ações</th>
                <th>Cliente ID</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Valor Repasse Retido</th>
              </tr>
            </thead>
            <tbody id="tbody-repasses-retidos-nao-aprovadas" unicorn:key="tbody-repasses-retidos-nao-aprovadas">
              {% if user.is_superuser %}
                {% for repasse_retido in repasses_retidos_aprovadas %}
                <tr>
                  <td>
										<button
										unicorn:click="desaprovar_repasse_retido({{ repasse_retido.id }})"
										unicorn:key="desaprovar-repasse-retido-{{repasse_retido.id}}"
										id="desaprovar-repasse-retido-{{repasse_retido.id}}"
										name="desaprovar-repasse-retido"
										class="btn btn-danger"
										>Desaprovar Rep.Ret.</button>
										<button 
										unicorn:click="deletar_repasse_retido({{ repasse_retido.id }})"
										unicorn:key="del-repasse-retido-{{repasse_retido.id}}"
										id="del-repasse-retido-{{repasse_retido.id}}"
										name="del-repasse-retido"
										class="btn btn-warning btn-sm">DEL</button>
									</td>
                  <td>{{repasse_retido.cliente.id}}</td>
                  <td>{{repasse_retido.cliente.nome}}</td>
                  <td>{{repasse_retido.dt_rep_retido}}</td>
                  <td>{{repasse_retido.vlr_rep_retido}}</td>
                </tr>
                {% endfor %}
              {% else %}
                {% for repasse_retido in repasses_retidos_aprovadas %}
                <tr>
                  <td><a href="#sem-acesso" class="btn btn-danger disabled">Desaprovar</a></td>
                  <td>{{repasse_retido.cliente.id}}</td>
                  <td>{{repasse_retido.cliente.nome}}</td>
                  <td>{{repasse_retido.dt_rep_retido}}</td>
                  <td>{{repasse_retido.vlr_rep_retido}}</td>
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
          <h6>Total Repasses Retidos aprovados: {{total_repasses_retidos_aprovadas}}</h6>
        </div>
      </div>

    </div>
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.2/datatables.min.js"></script>
    <script src="{% static 'assets/js/repasses_retidos/repasses_retidos_unicorn.js' %}"></script>
  </div>   