{% load static %}
{% load humanize %}
{% load unicorn %}
{% load utils %}
<div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h5>Taxas</h5>
        <div>
          <form unicorn:submit.prevent.defer="filtrar_taxas">
            data inicio :<input type="date" unicorn:model.defer="data_inicio" name="data_inicio" id="data_inicio" required>
            data fim: <input type="date" unicorn:model.defer="data_fim" name="data_fim" id="data_fim" required>
          <button unicorn:click="filtrar_taxas" unicorn:key="filtrar_taxa" class="btn btn-primary" type="submit" name="filtrar_taxa">Filtrar</button>
          </form>
          <form>
          </form>
        </div>
        <h6>
					{{ mensagem_error_nova_taxa }}
			</h6>
        <form class="form w-100" unicorn:submit.prevent.defer="nova_taxa">
          <input required unicorn:model.defer="cliente_id" type="number" name="cliente" class="form-control" placeholder="ID Cliente">
          <input required unicorn:model.defer="valor" type="number" name="valor" step="0.01" class="form-control" placeholder="Valor a ser Taxado">
          <input required unicorn:model.defer="data_taxa" type="date" name="data-taxa" class="form-control" id="data-taxa" placeholder="Data a ser Taxado">
          <input type="text" unicorn:model.defer="descricao" name="descricao" class="form-control" placeholder="Descrição do taxa">
          {% comment %} <input type="text" name="tipo" class="form-control" placeholder="Tipo do taxa"> {% endcomment %}
          <div class="form-group">
            <label for="selecionar-tipo-taxa">Tipo</label>
            <select unicorn:model.defer="tipo_taxa" class="form-control" name="selecionar-tipo-taxa" id="selecionar-tipo-taxa">
              <option value="TBB - Taxa de baixa de boleto">TBB - Taxa de baixa de boleto</option>
              <option value="TEC - Taxa de elaboração de contrato ">TEC - Taxa de elaboração de contrato </option>
              <option value="TAC - Taxa de análise de crédito">TAC - Taxa de análise de crédito</option>
              <option value="TCC - Taxa de controle de compra">TCC - Taxa de controle de compra</option>
              <option value="SPC - Restrição de CPF e/ou CNPJ">SPC - Restrição de CPF e/ou CNPJ</option>
              <option value="Honorários Iniciais - Confecção de ação judicial ">Honorários Iniciais - Confecção de ação judicial </option>
              <option value="Honorários Judiciais">Honorários Judiciais</option>
              <option value="Honorários de recebimento direto">Honorários de recebimento direto</option>
            </select>
          </div>
          
          {% if user.is_superuser or user.acesso.permissao == 'alimentacao' %}
            <button class="btn btn-primary" unicorn:click="nova_taxa" id="nova-taxa" type="submit" name="nova-taxa">Nova Taxa</button>
          {% else %}
            <button class="btn btn-primary disabled" type="button" name="nova-taxa">Nova Taxa</button>
          {% endif %}
        </form>
      </div>

      <div class="card-block table-border-style" id="table-border-style">
        {% comment %} start table {% endcomment %}
        <div class="table-responsive" unicorn:key="table-taxas">
          <table class="table table-hover" id="table-taxas">
            <thead>
              <tr>
                <th>Cliente ID</th>
                <th>Nome</th>
                {% for dia in taxas_dias %}
                <th>{{dia}}</th>
                {% endfor %}
                <th>Total Taxa</th>
              </tr>
            </thead>
            <tbody>
              {{tbody|safe}}
            </tbody>
          </table>
        </div>
        {% comment %} end table {% endcomment %}
        <h4>Taxa não aprovadas</h4>
        <div class="table-responsive" unicorn:key="table-taxas-aprovadas">
          <table class="table table-hover" id="table-taxas-aprovadas">
            <thead>
              <tr>
                <th>Ações</th>
                <th>Cliente ID</th>
                <th>Nome</th>
                <th>Data Taxa</th>
                <th>Taxa Valor</th>
                <th>Tipo</th>
                <th>Descricao</th>
              </tr>
            </thead>
            <tbody>
              {% if user.is_superuser %}
              {% for taxa in taxas_nao_aprovadas %}
                <tr>
                  <th>
                    <button unicorn:click="aprovar_taxa({{ taxa.id }})" id="aprovar-taxa{{taxa.id}}" unicorn:key="aprovar-taxas{{taxa.id}}" class="btn btn-success" name="aprovar-taxa">Aprovar Taxa</button>
                    <button unicorn:click="deletar_taxa({{ taxa.id }})" id="deletar-taxa{{taxa.id}}" unicorn:key="deletar-taxa{{taxa.id}}" class="btn btn-warning btn-sm" name="deletar-taxa">DEL</button>
                  </th>
                  <th>{{taxa.cliente_id}}</th>
                  <th>{{taxa.cliente.nome}}</th>
                  <th>{{taxa.dt_taxa|date:'d/m/y'}}</th>
                  <th>{{taxa.taxas|intcomma|custom_number_format}}</th>
                  <th>{{taxa.tipo}}</th>
                  <th>{{taxa.descricao}}</th>
                </tr>
              {% endfor %}
              {% else %}
                {% for taxa in taxas_nao_aprovadas %}
                  <tr>
                    <th>
                      <a 
                      name="aprovar-taxa" 
                      id="aprovar-taxa" 
                      class="btn btn-primary disabled"
                      href="#sem-autorizacao" 
                      role="button">Aprovar</a>
                    </th>
                    <th>{{taxa.cliente_id}}</th>
                    <th>{{taxa.cliente.nome}}</th>
                    <th>{{taxa.dt_taxa|date:'d/m/y'}}</th>
                    <th>{{taxa.taxas|intcomma}}</th>
                    <th>{{taxa.descricao}}</th>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>

        <h4>Taxas aprovadas</h4>
        <div class="table-responsive" unicorn:key="table-taxas-nao-aprovadas">
          <table class="table table-hover" id="table-taxas-nao-aprovadas">
            <thead>
              <tr>
                <th>Ações</th>
                <th>Cliente ID</th>
                <th>Nome</th>
                <th>Data Taxa</th>
                <th>Taxa Valor</th>
                <th>Tipo</th>
                <th>Descricao</th>
              </tr>
            </thead>
            <tbody>
              {% if user.is_superuser %}
                {% for taxa in taxas_aprovadas %}
                <tr>
                  <th>
                    <button class="btn btn-danger" id="desaprovar-taxa{{taxa.id}}" unicorn:key="desaprovar-taxa{{taxa.id}}" unicorn:click="desaprovar_taxa({{ taxa.id }})">Desaprovar Taxa</button>
                    <button unicorn:click="deletar_taxa({{ taxa.id }})" unicorn:key="deletar-taxa{{taxa.id}}" class="btn btn-warning" name="deletar-taxa" id="deletar-taxa">DEL</button>
                  </th>
                  <th>{{taxa.cliente_id}}</th>
                  <th>{{taxa.cliente.nome}}</th>
                  <th>{{taxa.dt_taxa|date:'d/m/y'}}</th>
                  <th>{{taxa.taxas|intcomma}}</th>
                  <th>{{taxa.tipo}}</th>
                  <th>{{taxa.descricao}}</th>
                </tr>
              {% endfor %}
              {% else %}
                {% for taxa in taxas_aprovadas %}
                  <tr>
                    <th>
                      <a 
                      name="desaprovar-taxa" 
                      id="desaprovar-taxa" 
                      class="btn btn-danger disabled" 
                      href="#sem-autorizacao"
                      role="button">Desaprovar</a>
                    </th>
                    <th>{{taxa.cliente_id}}</th>
                    <th>{{taxa.cliente.nome}}</th>
                    <th>{{taxa.dt_taxa|date:'d/m/y'}}</th>
                    <th>{{taxa.taxas|intcomma}}</th>
                    <th>{{taxa.tipo}}</th>
                    <th>{{taxa.descricao}}</th>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.2/datatables.min.js"></script>
    <script src="{% static 'assets/js/taxas/taxas_unicorn.js' %}"></script>    
</div> <!-- LAST DIV -->
