{% extends "layouts/base-fullscreen.html" %} 
{% load static %}
{% block title %} Login {% endblock %} {% block content %}

<div class="auth-wrapper">
  {% comment %} carregar arquivo css {% endcomment %}
  <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />

  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3 class="mb-4">Gestão de Repasses</h3>
        <img src={% static 'assets/images/logo-mecob.png' %} 
          alt="logo mecob.png" 
          name="imagem-logo"
          class="img-fluid mb-4"
          />
        <span class="mb-0 text-muted">
          {% if msg %}
          <span class="text-danger">{{ msg | safe }}</span>
          {% else %} {% endif %}
        </span>

        <br />
        <br />

        <form role="form" method="post" action="">
          {% csrf_token %}
          {% comment %} colocar o login no maximo canto esquerdo por bootstrap{% endcomment %}
          <h6 class="login-label-form">Entre com suas credenciais<h6>
            <div class="input-group mb-3">{{ form.username }}</div>
            
          
          <div class="input-group mb-4">{{ form.password }}</div>

          <button
            type="submit"
            name="login"
            class="btn btn-primary shadow-2 mb-4"
          >
            Login
          </button>
        </form>

        {% comment %}
        <p class="mb-0 text-muted">
          Don’t have an account? <a href="{% url 'register' %}">Sign UP</a>
        </p>
        {% endcomment %}
        <p class="mb-2 text-muted">
          Esqueceu a senha? <a href="/auth-reset-password.html">Reset</a>
        </p>

        <br />
        {% if GITHUB_AUTH %}
        <div class="mx-2">
          <form method="post" action="/social_login/github/login/?next=%2F">
            {% csrf_token %}
            <button
              class="btn btn-light"
              type="submit"
              style="background-color: #ffffff; border-color: #ffffff"
            >
              <i class="feather icon-github auth-icon"></i>
            </button>
          </form>
          <span class="mx-1">Sign IN with GitHub</span>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
