{% extends "layouts/base.html" %} 
{% block title %} UI Forms {% endblock %}
{% load widget_tweaks %}
{% load utils %}
{% load humanize %}
{% load static %}
{% load unicorn %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                
                <div class="page-header-title">
                  <h5 class="m-b-10">Registro de novos Contratos</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Tabelas & Formulários</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Registro</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        {% unicorn "registrar_contratos" %}
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% comment %} <script src="{% static 'assets/js/registrar_contratos.js' %}"></script> {% endcomment %}
<script>
  {% comment %} $(document).ready(function(){
    $('#table-cad-cliente').DataTable();
    $('#table-cob').DataTable();
  }) {% endcomment %}
</script>
{% endblock javascripts %}
