{% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %}

{% load utils %}
{% load humanize %}

{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10">Tabela para saber quais parcelas foram pagas</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item"><a href="#!">Tabelas & Formulários</a></li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Repasses Aprovados</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Repasses Aprovados</h5>
                    <form method="POST">
                      {% csrf_token %}
                      data inicio <input required type="date" id="data-inicio" name="data-inicio" >
                      data fim <input required type="date" id="data-fim" name="data-fim">
                      <button type="submit" name="btn-submit" id="btn-submit" class="btn btn-primary">Filtrar</button>
                      <button type="button" name="btn-clear-fields" id="btn-clear-fields" class="btn btn-danger">Limpar</button>
                    </form>
                    {% comment %} <a name="exportar-consulta" id="exportar-consulta" class="btn btn-info" href="{% url 'home:download_planilha_repasses' %}" role="button">Exportar Consulta .xlsx</a> {% endcomment %}
                    {% comment %} <form action="{% url 'home:upload_planilha_quinzenal' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input required type="file" class="" name="docpicker" id="docpicker" value="Importar Planilha">
                      <button type="submit" class="btn btn-success">Enviar Planilha</button>
                    </form> {% endcomment %}
                  </div>
                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-contratos">
                        <thead>
                          <tr>
                            <th>Ações</th>
                            <th>Vendedor ID</th>
                            <th>Nome Vendedor</th>
                            <th>Data Consulta Inicial</th>
                            <th>Data Consulta Final</th>
                            <th>Total Repasse Retido</th>
                            <th>Creditos</th>
                            <th>Taxas</th>
                            <th>Debitos</th>
                            <th>Total Repasses</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for repasse_aprovado in repasses_aprovados %}
                            <tr>
                              <th><a name="desaprovar-repasse" id="desaprovar-repasse" class="btn btn-danger btn-sm" href="{% url 'home:desaprovar_repasse' repasse_aprovado.id  %}" role="button">Desaprovar Repasse</a></th>
                              <th>{{repasse_aprovado.cliente.id}}</th>
                              <th>{{repasse_aprovado.cliente.nome}}</th>
                              <th>{{repasse_aprovado.data_inicial|date:'d/m/y'}}</th>
                              <th>{{repasse_aprovado.data_final|date:'d/m/y'}}</th>
                              <th>{{repasse_aprovado.total_repasses_retidos}}</th>
                              <th>{{repasse_aprovado.total_credito}}</th>
                              <th>{{repasse_aprovado.total_taxa}}</th>
                              <th>{{repasse_aprovado.total_debito}}</th>
                              <th>{{repasse_aprovado.total_repasse}}</th>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function(){
    $('#table-contratos').DataTable();
    $('#table-parcelas').DataTable();
    
  })
</script>
{% comment %} <script src="{% static 'assets/js/quinzenal/scripts.js' %}"></script> {% endcomment %}
{% endblock javascripts %}
