{% extends "layouts/base.html" %} 
{% block title %} UI Forms {% endblock %}
{% load widget_tweaks %}
{% load utils %}
{% load humanize %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                
                <div class="page-header-title">
                  <h5 class="m-b-10">Resultado Financeiro</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Tabelas & Formularios</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Resultado Financeiro</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <h5>Resultado Financeiro</h5>
              <form action="" method="post">
                {% csrf_token %}
                <p>
                  filtrar de
                  <input
                    type="date"
                    name="data-inicio"
                    id="data-inicio"
                  />
                  até
                  <input type="date" name="data-fim" id="data-fim" />
                  <button class="btn btn-primary" type="submit" name="filtrar-taxa">Filtrar</button>
                  <button
                    type="button"
                    name=""
                    id=""
                    class="btn btn-danger"
                  >
                    Limpar Filtro
                  </button>
                </p>
              </form>
            </div>

            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table table-hover" id="table-taxas">
                  <thead>
                    <tr>
                      <th>Contrato ID</th>
                      <th>Comprador </th>
                      <th>Vendedor</th>
                      {% for financeiro_dia in financeiro_dias %}
                      <th>{{financeiro_dia}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {{tbody|safe}}}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card-block table-border-style">
              <h5>Valores: R$ {{soma_valores_financeiro.total_valor|intcomma}}</h5>
              <h5>TCC's: R$ {{soma_valores_financeiro.total_tcc|intcomma}}</h5>
              <h5>Desconto Totais: R$ {{soma_valores_financeiro.total_desconto|intcomma}}</h5>
              <h5>Honorarios: R$ {{soma_valores_financeiro.total_honorarios|intcomma}}</h5>
              <h5>Repasses: R$ {{soma_valores_financeiro.total_repasse|intcomma}}</h5>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function(){
    $('#table-taxas').DataTable();
  })
</script>
{% endblock javascripts %}
